/* Prevent horizontal scrolling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden; /* Disable horizontal scrolling */
}

header {
    background: #008080;
    color: white;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFD700;
}

.container {
    width: 100%; /* Ensure full width without overflow */
    max-width: 1400px; /* Optional: Set a max-width for content */
    margin: 0 auto; /* Center content */
    height: calc(100vh - 100px); /* Adjust height based on header and footer */
    padding: 20px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
    overflow-x: hidden;
}

.card {
    background: #f8f8f8;
    width: 90%; /* Slightly smaller width for symmetry */
    margin: 0 auto 20px; /* Center the card and add bottom margin */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

h2 {
    color: #008080;
    font-size: 1.8em;
    margin-bottom: 10px;
}

p {
    line-height: 1.7;
    color: #666;
    font-size: 1.1em;
}

.map-link {
    display: inline-block;
    width: calc(100% - 40px);
    margin: 15px 0;
    padding: 20px;
    background: #008080;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.map-link:hover {
    background: #008080;
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.container, .map-link {
    box-sizing: border-box;
}

footer {
    background: #008080;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    color: #f9f9f9;
}

.indicator-header {
    width: 90%; /* Slightly smaller width for symmetry */
    margin: 0 auto 20px; /* Center and add bottom margin */
    padding: 20px;
    background-color: #008080; /* Same turquoise background */
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}


.back-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #008080; /* Same turquoise background */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #008080; /* Darker turquoise on hover */
}

.map {
    margin: 20px 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
}

/* Toggle button styles */
.toggle-buttons {
    margin: 20px 0;
}

.toggle-buttons button {
    background: #003747; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Space between buttons */
    transition: background 0.3s ease; /* Smooth background transition */
}

.toggle-buttons button:hover {
    background: #003747; /* Darker shade on hover */
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


/* Style for the dropdown */
.country-dropdown {
    width: 90%; /* Width similar to the container for symmetry */
    margin: 20px auto; /* Center the dropdown */
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    color: #333;
}

/* Dropdown select */
.country-dropdown select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: white;
    transition: border-color 0.3s ease;
}

.country-dropdown select:focus {
    border-color: #008080; /* Turquoise border on focus */
    outline: none;
}

/* Dropdown option styles */
.country-dropdown option {
    padding: 10px;
    font-size: 1em;
    color: #333;
}

/* Styling for the button to show map based on country */
.country-dropdown button {
    background: #008080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.country-dropdown button:hover {
    background: #006666; /* Slightly darker turquoise on hover */
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
